body {
  margin: 0;
  background-color: #242424;
}
p {
  font-size: 20;
  color: #000000;
}
ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0566DA;
}

head1 {
  color: White;
  font-size: 40px;
}
ul.topnav li {
  float: left;
}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.Hover {
  background-color: #0566DA;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  transition: .5s;
}

.Hover:hover {
  background-color: #0d7afc;
  color: white;
}

ul.topnav li a.active {
  background-color: #4CAF50;
}

ul.topnav li.right {
  float: right;
}

h1 {
  font-weight: 500;
  font-size: 82px;
  color: #ffffff;
  transition: 1s;
}
h2 {
  font-weight: 500;
  font-size: 30px;
  color: #ffffff;
  transition: 1.25s;
}

h3 {
  font-weight: 500;
  font-size: 30px;
  color: #ffffff;
  transition: 2s;
}

.card {
  width: 200%;
  height: 308px;
  margin-top: 25px;
  padding-bottom: 25px;
  background-color: #393939;
  color: #000000;
  transition: ease-in-out 0.25s;
  border-radius: 20px;
  border: 5px solid #0566DA;
}

.card:hover {
  width: 250%;
  transition: 2s;
}

.card-title {
  margin-top: 5px;
  height: 40px;
  width: 100%;
  font-size: 125%;
  text-overflow: ellipsis;
  color: #ffffff;

  white-space: nowrap;
  overflow: hidden;
  
  display: inline-block;
  position: relative;
}

.card-text {
  padding-top: 15px;
  height: 27%;
  length: 100px;
  color: #ffffff;
  font-size: 100%;
}
.btn-dark {
  background-color: #0566DA;
  width: 10zzz0%;
  height: 18%;
  line-height: 30px;
  transition: 0.5s;
}

.btn-dark:hover,
focus {
  background-color: #0451ae;
  border-color: #0451ae;
  transition: 0.5s;
}

.btn-dark:active {
  background-color: #03428d;
  background: #03428d;
  transition: 0.5s;
  box-shadow: 0px 0px;
}

div.title-main {
  font-weight: bold;
  text-transform: uppercase;
}

footer.FooterCopyright {
  background-color: #0566DA;
}

ul.topnav li.ClickImage {
  float: right;
  padding-top: 11px;
  padding-right: 11px;
  cursor: pointer;
  opacity: 1;
}

.ImagePos {
  display: inline-block;
}

.Img_1 {
  object-fit: contain;
  width: 165px;
  height: 65px;
}

.Img_2 {
  position: absolute;
  right: 3%;
  top: 3%;
  background-color: #393939;
}

span.popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
span.popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
span.popup.show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
h2{
  font-size:  20px;
}
